.headr-cntr{
  display: flex;
  height: 5vh;
  justify-content: end;
  background-color: burlywood;
}

.header-bell, .header-info, .header-plus, .header-profile{
  width: 2vw;
}

.header-btn{
  border: 0;
  background-color: burlywood;
}