.task-list{
  display: flex;
}
.task-card {
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 30vh;
}

.task-card-header {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.task-title {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.task-label {
  margin: 0;
  color: #999;
}

.task-card-body {
  padding: 10px;
}

.task-description {
  margin: 0;
  color: #666;
}
